{% extends 'baza.html' %}

{% block content %}

  <div class="container">
    <h1>About</h1><br>

<div style="display: flex; align-items: center; justify-content: center;">
    <img src="static/images/zdj2.jpg" width="400" style="margin-right: 20px;">
    <p style="word-wrap: break-word; color: grey; font-size: 20px;">
        1. First of all I'm a mother. It is the greatest role in my life and it changed me forever. I found peace and feel really
        happy.
    </p>

</div>
<br><br><br>

      <div style="display: flex; align-items: center; justify-content: center;">
    <img src="static/images/zdj3.jpg" width="400" style="margin-right: 20px;">
    <p style="word-wrap: break-word; color: grey; font-size: 20px;">
        2. I'm a self-learner. At the age of 28 I started playing the piano, I had no teacher (except for YouTube), never attended
        a music school. I had always wanted to pursue this, and after 5 years I can say I play the piano. I consider this my second biggest
        achievement. It has taught me it's never too late to follow your passion.
    </p>
</div>

      <br><br><br>

      <div style="display: flex; align-items: center; justify-content: center;">
    <img src="static/images/zdj4.jpg" width="400" style="margin-right: 20px;">
    <p style="word-wrap: break-word; color: grey; font-size: 20px;">
        3. I also started skiing quite late. At the age of 24 I discovered a great passion for it. I prefer skiing during winter holidays
        rather than spending my summer holidays in a hot country.
    </p>
</div>
</div>






{% endblock %}