{% extends 'baza.html' %}

{% block content %}

  <div class="container">
    <h1>Contact</h1>
    <br><h4>

    email: <a href="mailto:iwonapiotrowska90@gmail.com"> iwonapiotrowska90@gmail.com</a>
    <br><br>
    mobile: 665-396-294
    <br><br>
    github: <a href="https://github.com/iwonapiotrowska90"> https://github.com/iwonapiotrowska90</a>
    <br><br>
    linkedin: <a href="https://www.linkedin.com/in/iwona-kosz"> https://www.linkedin.com/in/iwona-kosz</a>
    </h4>
      
{% endblock %}