{% extends 'baza.html' %}

{% block content %}

  <div class="container">
    <h1>Experience</h1><br><br>

    <h4><b>2018 -</b>  Finance Controller at Arla Foods</h4>
<p style="color: grey; font-size: 20px; text-align:justify;">
    I'm Finance Controller but I would describe my position more as data analyst. I work with data on a daily basis.
    I get the data from excel files, from BW tables, from AzureDatabricks, and any other data sources. Once I get them,
    I clean, transform, shape them and finally visualize them.
    If our business partners need a report they contact me. I have built hundreds of reports in Excel and PBI, some of them
    I am maintaining, some of them I handed over, and some of them are done automatically with help of PowerAutomate.
    There exist no report I couldn't do. I think everything is possible but we may <u>not yet</u> know how
    to achieve it.
</p>
    <br>
    <h4><b>2015 - 2018</b>  Accountant at Arla Foods</h4>
    <p style="color: grey; font-size: 20px;">
    Booking invoices in SAP, reconciliations, balances, handling emails.
      </p>

{% endblock %}