{% extends 'baza.html' %}

{% block content %}

  <div class="container">
    <h1>Welcome to my website!</h1>
<br><br><br><br>
          <body><div style="float: left;">
    <h4>
      My name is Iwona <br>
      I created this website in the evenings <br>
      with some help of John Elder from <br>CODEMY and ChatGTP:) <br><br>
      I hope that one day I will do it for a living... <br><br>


                  <style>
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    .typewriter {
      overflow: hidden;
      white-space: nowrap;
      animation: typing 5s steps(40, end);
    }
  </style>


  <h4 class="typewriter">Never stop dreaming...</h4>




    </h4>
  </div>
  <div style="float: left; margin-left: 20px;">
    <img src="static/images/zdj1.jpg" width="500">
  </div>
  <div style="clear: both;"></div>



{% endblock %}