{% extends 'baza.html' %}

{% block content %}

  <div class="container">
    <h1>Skills</h1>
      <br><br><br>

    <div style="float: left; margin-left: 20px;">

    <img src="static/images/excel.png" width="150" height="150" style="margin-right: 10px;">
    <img src="static/images/vba.png" width="150" height="150" style="margin-right: 10px;">
    <img src="static/images/PBI.png" width="150" height="150" style="margin-right: 10px;">
    <img src="static/images/sql.jpg" width="150" height="150" style="margin-right: 10px;">
    <img src="static/images/PostgreSQL.png" width="150" height="150" style="margin-right: 10px; margin-top: 10px;">
    <img src="static/images/power automate.png" width="150" height="150" style="margin-right: 10px;">
    <img src="static/images/databricks.png" width="150" height="150" style="margin-right: 10px;">
    <img src="static/images/python.jpg" width="150" height="150" style="margin-right: 10px;">
    <img src="static/images/sqlalchemy.png" width="150" height="150" style="margin-right: 10px; margin-top: 10px;">
    <img src="static/images/kivy.png" width="150" height="150" style="margin-right: 10px; margin-top: 10px;">
    <img src="static/images/flask.png" width="150" height="150" style="margin-right: 10px; margin-top: 10px;">
    <img src="static/images/tkinter.jpg" width="150" height="150" style="margin-right: 10px; margin-top: 10px;">
    <img src="static/images/PyCharm.jpg" width="150" height="150" style="margin-right: 10px; margin-top: 10px;">
    <img src="static/images/html.png" width="150" height="150" style="margin-right: 10px; margin-top: 10px;">
    <img src="static/images/bootstrap.png" width="150" height="150" style="margin-right: 10px; margin-top: 10px;">
    <img src="static/images/github.png" width="150" height="150" style="margin-right: 10px; margin-top: 10px;">


{% endblock %}